@import '../_vars.scss';
@import '../_mixins.scss';

.btn {
  padding: 5px 13px;
  border: 1px solid $red;
  background-color: $red;
  display: flex;
  column-gap: 10px;
  border-radius: 20px;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  transition: all 0.3s;
  text-decoration: none;
  span {
    text-decoration: none;
    line-height: 1.3;
  }
  img {
    transition: all 0.3s;
  }
  &--solid {
    &:hover {
      background-color: $red-hover;
      img {
        transform: translateX(3px);
      }
    }
  }
  &--bordered {
    background-color: #fff;
    color: $dark-blue;
    span {
      font-weight: 600;
    }

    &:hover {
      background-color: #fff;
      border: 1px solid $red-hover;
      img {
        transform: rotate(180deg);
      }
    }
  }
}
