@import '../_vars.scss';
@import '../_mixins.scss';

.collapse {
  background-color: #fff;
  box-shadow: $box-shadow;
  width: 100%;
  align-items: flex-start;
  font-weight: bold;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: all 0.3s;
  .trigger {
    position: relative;
    width: 100%;
    padding-right: 28px;
    transition: all 0.3s;
    padding: 20px 35px;
    cursor: pointer;
    span {
      color: $dark-blue;
      text-transform: uppercase;
      font-size: 16px;
    }
    &__icon {
      margin-right: 20px;
    }
    &__state {
      transition: all 0.3s;
      position: absolute;
      transform: rotate(180deg) translateY(50%);
      right: 25px;
      top: 50%;
    }
  }
  .content {
    padding: 20px 0;
    transition: all 0.3s;
    transform: scaleY(0);
    max-height: 0;
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }
  .bottom {
    max-height: 0;
    position: absolute;
  }
  .collapse-link {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-top: 1px solid black;
    text-decoration: none;
    width: 100%;
    @include breakpoint(mobile) {
      padding: 15px 25px;
    }
    &:last-child {
      border-bottom: 1px solid black;
    }
    .link__item {
      margin-right: 28px;
    }
    .link__name {
      margin-bottom: 0;
      text-decoration: underline;
      margin-right: 6px;
    }
    .link__general {
      margin-right: 6px;
      color: $grey;
    }
    .link__notification {
      text-decoration: none;
      color: $dark-blue;
      .red {
        color: $red;
      }
    }
  }
  &--open {
    .trigger {
      box-shadow: $box-shadow;
      border-radius: 30px 30px 0 0;
      &__state {
        transform: rotate(0deg) translateY(-50%);
      }
    }
    .content {
      transform-origin: top;
      transform: scaleY(1);
      max-height: 100%;
      visibility: visible;
      opacity: 1;
      position: static;
    }
    .bottom {
      transition: all 0.3s;
      max-height: 30px;
      height: 30px;
      box-shadow: $box-shadow;
      border-radius: 0 0 30px 30px;
      position: static;
      width: 100%;
    }
  }
}
