@import "../_vars.scss";
@import "../_mixins.scss";

.details {
  display: flex;
  flex-direction: column;

  .item {
    padding: 10px 0;
    border-bottom: 1px dashed $grey;
    display: flex;
    &__name,
    &__data {
      font-size: 12px;
      color: $dark-blue;
    }
    &__name {
      min-width:110px;
    }
    &__data {
      font-weight: 700;
    }
  }
  &.extended {
    .item__name {
        min-width:150px;
    }
}
}
