@import '../_vars.scss';
@import '../_mixins.scss';

.header {
  width: 100vw;
  text-align: center;
  position: fixed;
  box-shadow: $box-shadow;
  top: 0;
  background-color: #fff;
  left: 0;
  z-index: 5;
  .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 100%;
    .spinner {
      position: absolute;
      right: 50px;
      transform: rotate(45deg) translateY(-20%);
    }
    .toggle {
      button {
        background-color: #fff;
        border: none;
      }
    }
    .profile,
    .profile--mobile {
      align-items: center;
      display: flex;
      column-gap: 20px;
      .user {
        text-decoration: none;
        img {
          border-radius: 50%;
          width: 48px;
          height: 48px;
          display: inline-flex;
        }
        span {
          color: $dark-blue;
          margin-left: 25px;
          
        }
      }
    }
    .profile.profile--mobile {
      position: fixed;
      flex-direction: column;
      top: 70px;
      z-index: 15;
      left: 0;
      bottom: 0;
      right: 0;
      border-top: 1px solid rgb(0, 0, 2);
      background-color: #fff;
      padding: 15px 15px;
      .user {
        margin-bottom: 20px;
      }
      .btn {
        margin-bottom: 10px;
      }
      &.sidebar {
        overflow: scroll;
      }
    }
  }
  &--mobile {
    .inner {
      .profile {
        display: none;
        &--mobile {
          display: flex;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .inner {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .logo {
      width: 60px;
    }
    .toggle {
      display: flex;
      align-items: center;
    }
    .navbar {
      z-index: 15;
      width: 100%;
    }
  }
}
