@import '../_vars.scss';
@import '../_mixins.scss';

.c-input {
  &.active {
    border: 1px solid #fb0102;
  }
  & + .error {
    position: absolute;
    top: -45px;
    right: 0;
    padding: 8px 10px;
    background-color: $dark-blue;
    border-radius: 8px;
    max-width: 173px;
    transition: all 0.3s;
    &::after {
      content: '';
      position: absolute;
      bottom: -22px;
      left: 15px;
      border: 12px solid transparent;
      border-top: 12px solid $dark-blue;
    }
    &--visible {
      visibility: visible;
      opacity: 1;
    }
    &--hidden {
      visibility: hidden;
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

.error__text {
  color: #fff !important;
}
