@import "../_vars.scss";
@import "../_mixins.scss";

.layout {
  .gradient-line {
    width: 100%;
    height: 17px;
    margin-top: 114px;
    img {
      display: flex;
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: center;
    }
    @include breakpoint(mobile) {
      margin-top: 70px;
  }
  }
  .choose-mode {
    padding: 20px 15px 0;
  }
  .mode-item {
    border-radius: 30px;
    box-shadow: $box-shadow;
    border: none;
    color: $blue;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    font-weight: bold;
    justify-content:space-between;
    background-color: #fff;
    text-decoration: none;
    align-items: center;
    @include breakpoint(tablet) {
        margin-bottom: 15px;
    padding: 15px 20px;

    }
  }
  &__inner {
    max-width: 1140px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px 15px 40px;
    display: flex;
    column-gap: 25px;
    .navbar {
      display: flex;
      flex-direction: column;
      flex: 1 0 30%;
      max-width: 333px;
    }
    .main {
      display: flex;
      flex: 1 1 70%;
      box-shadow: $box-shadow;
      border-radius: 30px;
      padding: 35px 50px;
      position: relative;
      width: 100%;
    }
    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: stretch;
      padding-top: 0;
      .navbar {
        flex-direction: row;
        flex: 1 1 100%;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        max-width: 720px;
        margin: 0 auto;
        .mode-item {
          width: 100%;
          flex: 1 1 100%;
        }
      }
    }
    @include breakpoint(mobile) {
      padding-left: 0;
      padding-right: 0;
      .main {
        padding: 30px 20px;
        border-radius: 0;
        box-shadow: none;
      }
      .navbar {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
