@import "../_vars.scss";
@import "../_mixins.scss";

.section-devider {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .line {
        height:1px;
        width: 100%;
        background-color:$grey;
    }
    .section__title {
        padding: 0 25px;
            font-size: 16px;
            color: $dark-blue;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;   
            white-space: nowrap;     
    }
    @include breakpoint(mobile) {
        margin-bottom: 25px;
    }
}