@import "../_vars.scss";
@import "../_mixins.scss";

.man-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  .activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    .left {
      display: flex;
      align-items: center;
      
      .circle {
        min-width: 16px;
        height: 16px;
        background-color: $grey;
        border-radius: 50%;
        margin-right: 19px;
      }
      .text {
        font-size: 12px;
        color: $grey;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 0;
        padding-right: 10px;
        
      }
      &.online {
        .circle {
          background-color: $green;
        }
        .text {
          color: $green;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      & > span {
        margin-right: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $dark-blue;
        font-size: 12px;
      }
    }
    @include breakpoint(mobile) {
      .right .id {
        display: none;
      }
    }
  }
  .person-info {
    display: flex;
    // column-gap: 36px;
    position: relative;
    margin-bottom: 30px;
    .name {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $grey;
      padding-bottom: 23px;
      width: calc(50% - 18px);
      max-height: 40px;
      position: absolute;
      img {
        margin-right: 17px;
      }
      .person-name {
        font-size: 20px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        color: $dark-blue;
        margin-right: 17px;
      }
      .person-age {
        line-height: 1.2;
        text-transform: uppercase;
        color: $grey;
        font-size: 20px;
        white-space: nowrap;
      }
    }
    .details {
      width: 50%;
      margin-top: 65px;
    }
    .avatar {
      position: relative;
      width: 50%;
      margin-left: 36px;
      & > img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 30px;
      }
      .like-count {
        border-radius: 30px;
        padding: 3px 7px;
        background-color: #ececec;
        color: $black;
        font-weight: 600;
        position: absolute;
        bottom: 75px;
        right: 15px;
        min-width: 50px;
        text-align: center;
      }
      .like {
        right: 15px;
        bottom: 15px;
      }
      .zodiak {
        left: 15px;
        bottom: 15px;
      }
      .like,
      .zodiak {
        max-width: 50px;
        position: absolute;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        border: none;
        background-color: #ececec;
        img {
          object-fit: scale-down;
          width: 100%;
        }
      }
      .like-count,
      .like,
      .zodiak {
        box-shadow: $box-shadow;
      }
    }
    @include breakpoint(mobile) {
      flex-direction: column-reverse;
      margin-bottom: 0;
      .name {
        width: 100%;
        top: 0;
      }
      .avatar {
        width: 100%;
        display: flex;
        margin-left: 0;
        max-width: 520px;
        margin: 65px auto 35px;
        order: 1;
      }
      .details {
        width: 100%;
        margin-top: 0;
      }
    }
  }
  .photoset {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
    &__item {
      overflow: hidden;
      display: flex;
      flex: 0 1 65px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 9px;
      img {
        max-width: 65px;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-radius: 15px;
      }
    }
    @include breakpoint(mobile) {
      margin-bottom: 35px;
      display: none;
      &--mobile {
        display: flex;
      }
    }
    @include breakpoint(xsMobile) {
      &__item {
        overflow: hidden;
        display: flex;
        flex: 0 0 18%;
        width: 25%;
        margin-bottom: 10px;
      }
    }
  }
  .c-text-14 {
    &.about {
      margin-top: 15px;
      margin-bottom: 25px;
    }
  }
  .c-block {
    border-bottom: 1px dashed $grey;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .more-information {
    display: flex;

    .left,
    .right {
      width: 50%;
      .details.extended .item {
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .right {
      margin-left: 50px;
    }
    @include breakpoint(smMobile) {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
      .right {
        margin-left: 0;
      }
    }
  }
  .show-more {
    transition: all 0.3s;
    &__container {
      max-height: 0;
      transform-origin: top;
      transition: all 0.3s;
      transform: scaleY(0);
    }
    &.expanded {
      .show-more__container {
        max-height: 100%;
        transform: scaleY(1);
      }
    }
  }
  .c-title-14 {
    text-transform: uppercase;
    margin-bottom: 25px;
    span {
      font-weight: 400;
      margin-left: 10px;
    }
  }
}
