@import '../_vars.scss';
@import '../_mixins.scss';

.man-profile-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .row {
    position: relative;
  }
  .notation {
    font-size: 12px;
    color: rgb(178, 178, 178);
    line-height: 1.2;
    text-align: center;
    margin-top: -12px;
    margin-bottom: 25px;
  }
  .my-account-info {
    margin-bottom: 35px;
  }
  .edit-wrapper {
    display: flex;
    align-items: center;
    min-height: 33px;
    position: relative;
    &.mt-8 {
      margin-top: 8px;
    }

    .password-control {
      position: absolute;
      top: 10px;
      right: 13px;
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
      @include breakpoint(smMobile) {
        right: 25%;
        top: 31px;
      }
      @include breakpoint(xsMobile) {
        right: 12%;
        top: 31px;
      }
    }
    .password-control.view {
      background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
    }
    span {
      display: flex;
      flex: 1 1 50%;
      font-size: 12px;
      color: $dark-blue;
      text-align: left;
      //   margin-right: 15px;
    }
    &--spec {
      label {
        margin-bottom: 0;
        font-size: 12px;
        margin-left: 10px;
        color: $dark-blue;
      }
      #cm {
        margin-left: 37px;
      }
      #ft {
        margin-left: 14px;
      }
      #kg {
        margin-left: 41px;
      }
      #lbs {
        margin-left: 10px;
      }
      @include breakpoint(smMobile) {
        // flex-direction: row !important;
        #cm {
          margin-left: 0;
          margin-top: 15px;
        }
        #ft {
          margin-left: 0;
          margin-top: 15px;
        }
        #lbs {
          margin-left: 0;
          margin-top: 15px;
        }
        #kg {
          margin-left: 0;
          margin-top: 15px;
        }
        label {
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
    &--lg {
      span {
        display: flex;
        flex: 1 1 115px;
        font-size: 12px;
        color: $dark-blue;
        text-align: left;
      }
      .text-field {
        width: 80%;
        min-height: 78px;
        resize: none;
      }
      @include breakpoint(smMobile) {
        span {
          flex: 0 0 0;
        }
        .text-field {
          margin: 0 auto 10px;
          flex: 0 0 0;
          width: 230px;
        }
      }
    }
    @include breakpoint(tablet) {
      //   flex: 1 1 50%;
      width: 80%;
      margin: 0 auto 10px;
      span {
        min-width: 80px;
      }
      .text-fw-600 {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
      }
    }
    @include breakpoint(smMobile) {
      width: 100%;
      margin: 0 auto 10px;
      flex-direction: column;
      .text-field {
        flex: 0 0 0;
      }
      span:not(.text-fw-600),
      span:not(.css-1xjgjl1-IndicatorSeparator) {
        min-width: 80px;
        margin-bottom: 5px;
        display: inline-block;
        text-align: center;
      }
      .text-fw-600 {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
      }
    }
  }
  .text-field:focus {
    border: 1px solid #fb0102;
  }
  .text-field .form-select {
    flex: 1 1 40%;
  }
  .text-field.form-select--country {
    flex: 1 1 100%;
    display: block;
    border: none;
    padding: 0;
    max-width: 204px;
    @include breakpoint(tablet) {
      flex: 1 0 230px;
      width: 100%;
      max-width: 230px;
    }
    @include breakpoint(smMobile) {
      margin: 0 auto 10px;
      flex: 0 0 0;
    }
  }
  .text-field.form-select--month {
    flex: 0 0 60px;
    margin-left: 5px;
    width: 60px;
    display: block;
    border: none;
    padding: 0;
    @include breakpoint(tablet) {
      flex: 0 0 64px;
      width: 230px;
    }
    @include breakpoint(smMobile) {
      margin: 0 auto 10px;
      flex: 0 0 0;
    }
  }
  .text-field.form-select--day {
    display: block;
    border: none;
    flex: 0 0 60px;
    margin-left: 5px;
    width: 60px;
    padding: 0;
    @include breakpoint(tablet) {
      flex: 0 0 64px;
      // max-width: 90px;
      width: 230px;
    }
    @include breakpoint(smMobile) {
      margin: 0 auto 10px;
      flex: 0 0 0;
      width: 230px;
    }
  }
  .text-field.form-select--year {
    flex: 0 0 73px;
    display: block;
    border: none;
    margin-left: 5px;
    padding: 0;
    @include breakpoint(tablet) {
      flex: 0 0 92px;
      // max-width: 110px;
      // width: 100%;
    }
    @include breakpoint(smMobile) {
      margin: 0 auto 10px;
      flex: 0 0 0;
    }
  }
  .text-field {
    display: flex;
    width: 204px;
    padding: 10px 18px 10px 10px;
    font-size: 14px;
    color: $dark-blue;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
    border: 1px solid #959595;
    transition: all 0.3s;
    &--sm {
      width: 60px;
      padding: 10px;
    }
    .css-tlfecz-indicatorContainer {
      padding-left: 0;
    }
    .css-1xjgjl1-IndicatorSeparator {
      display: none !important;
    }
    @include breakpoint(tablet) {
      //   flex: 1 0 230px;
      max-width: 230px;
      width: 100%;
      &--sm {
        width: 87px;
      }
    }
  }
  .photoset {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
    .btn-close {
      width: 17px;
      height: 17px;
      padding: 0;
      background-color: transparent;
      border: none;
      img {
        // width: 16px;
        // height: 16px;
      }
    }
    .handlers {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-close {
        margin-left: 10px;
        transform: translateY(-1px);
      }
      .photo-check {
        width: 14px;
        height: 14px;
      }
    }

    &__item {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 0 1 calc(12.5% - 19px);
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 9px;
      img {
        max-width: 65px;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-radius: 15px;
      }
    }
    &--lg {
      .photoset__item {
        flex: 0 1 calc(25% - 30px);
        margin-left: 20px;
        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          border-radius: 15px;
        }
      }
    }
    @include breakpoint(mobile) {
      margin-bottom: 35px;
      display: none;
      &--mobile {
        display: flex;
      }
    }
    @include breakpoint(smMobile) {
      &__item {
        overflow: hidden;
        display: flex;
        flex: 0 0 18%;
        width: 25%;
        margin-bottom: 10px;
      }
      &--lg {
        .photoset__item {
          flex: 0 1 calc(50% - 30px);
          margin-left: 20px;
          img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            border-radius: 15px;
          }
        }
      }
    }
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: uppercase;
    display: inline-block;
    font-size: 10px;
    border-radius: 20px;
    border: 1px solid $grey;
    width: 100%;
    height: 25px;
    color: $dark-blue;
    line-height: 0.1;
    padding: 12px 15px;
    margin-bottom: 0;
    position: relative;
    &::after {
      content: 'Select File';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0 20px 20px 0;
      width: 100px;
      text-transform: uppercase;
      background-color: #e4e4e4;
      height: 100%;
      line-height: 2.3;
      text-align: center;
    }
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
    // background-color: red;
  }
  .upload-btn {
    height: 100%;
    width: 100%;
    margin-left: 15px;
    font-size: 10px;
    white-space: nowrap;
    justify-content: center;
    font-weight: 900;
    @include breakpoint(tablet) {
      width: 130px;
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .btn-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-top: 1px solid $grey;
    padding-top: 30px;
    .btn {
      padding: 12px 15px;
      font-weight: 600;
    }
    .btn--bordered {
      margin-left: 15px;
    }
  }
}
