@import './libs/bootstrap/bootstrap-reboot.min';
@import './libs/bootstrap/bootstrap-grid.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import 'mixins';
@import 'vars';
@import 'components';

.c-title-20 {
  font-size: 20px;
  color: $dark-blue;
  font-weight: bold;
  text-transform: uppercase;
}
.c-text-14 {
  font-size: 14px;
  color: $dark-blue;
  margin-bottom: 0;
  line-height: 1.929;
}
.c-title-14 {
  font-size: 14px;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}
.text-fw-600 {
  font-weight: 700;
}
